[submodule "NordicEngine/ThirdParty/glfw"]
	path = NordicEngine/ThirdParty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "NordicEngine/ThirdParty/glm"]
	path = NordicEngine/ThirdParty/glm
	url = git@github.com:g-truc/glm.git
[submodule "NordicEngine/ThirdParty/stb"]
	path = NordicEngine/ThirdParty/stb
	url = git@github.com:nothings/stb.git
[submodule "NordicEngine/ThirdParty/lua"]
	path = NordicEngine/ThirdParty/lua
	url = git@github.com:LuaDist/lua.git
[submodule "NordicEngine/ThirdParty/LuaBrige"]
    path = NordicEngine/ThirdParty/LuaBridge
    url = git@github.com:Nulifier/LuaBridge.git
